<input class="search selectable" type="search" placeholder="Search All" data-column="all">
<input class="search" type="search" placeholder="Environment" data-column="2">
<input class="search" type="search" placeholder="Role" data-column="3">
<!-- targeted by the "filter_reset" option -->
<button type="button" class="reset">Reset Search</button>
<br>
<br>


<table class="tablesorter tablesorter-bootstrap table table-bordered table-striped">
  <thead>
    <tr role=role class="tablesorter-headerRow">
      <th>ID</th>
      <th>Iso Client IP</th>
      <th>Environment</th>
      <th>Role</th>
      <th>Events</th>
      <th>Stashes</th>
      <th>Sensu Alive</th>
    </tr>
  </thead>
  <tbody id="fbody">
    <% @nodes.each do |node| %>
      <tr role="row">
        <td><a href="nodes/<%= node.id %>"><%= node.id %></a></td>
        <td><%= node.iso_client_ip %></td>
        <td><%= node.aws_tag_environment %></td>
        <td><%= node.aws_tag_apps %></td>
        <td><%= node.sensu_events_count %></td>
        <td><%= node.sensu_stashes_count %></td>
        <% sensu_time=time_since(node.sensu_timestamp.to_i) %>
        <td><%= sensu_time %></td>
        <% ec2_status=ec2_running(node.ec2_state) %>
      </tr>
    <% end %>
  </tbody>
</table>
