<div class="table-responsive">
  <h1>Sensu Stashes </h1>
  <table class="table table-striped">
    <!-- <tr>
      <th>Actions</th>
      <th>NodeID</th><th>Client</th><th>Check</th><th>Status</th>
      <th>Occurrences</th>
      <th>Output</th>
    </tr> -->
    <tr>
      <th>Instance</th>
      <th>Private IP</th>
      <th>Environment</th>
      <th>Role</th>
      <th>Stash Path-DEBUG</th>
      <th>Actions</th>
    </tr>

    <% @nodes.each do |n| %>
      <% @stashes.each do |s| %>
        <% if n.id == s.node_id %>
          <tr>
            <td><a href="/nodes/<%= n.id %>"><%= n.ec2_id %></a></td>
            <td><%= n.iso_client_ip %></td>
            <td><%= n.aws_tag_environment %></td>
            <td><%= n.aws_tag_apps %></td>
            <td><%= s.path %></td>
            <td>
              <form action="/api/sensu/stashes" method="post">
                <input type="hidden" name="sensu_method" value="delete">
                <input type="hidden" name="id" value="<%=s.id %>">
                <input type="hidden" name="stashpath" value="silence/<%=s.path %>">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>

</div>
